:root {
    --form-background: rgb(249, 249, 249);
    --button-color: #1d7a83;
    --button-text: white;
    --button-hover: rgb(34, 186, 200);
    --button-active: rgb(28, 163, 175);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

body {
    display: flex;
}

.side-hero {
    position: relative;
    background-image: url(./mountain.jpeg);
    width: 40vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    position: relative;
    top: -25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.433);
}

.logo-title {
    position: absolute;
    top: 20vh;
    padding: 0;
    margin-left: 5px;
    margin-right: 0;
    font-size: 1.5rem;
    color: white;
}

.artist-credit {
    position: absolute; 
    bottom: 10px; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    font-size: 0.8rem;
    color: white;
}

:visited {
    color: grey;
}

:link {
    color: white;
}


.user-content {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(13, 13, 71);
}

.text-intro {
    font-weight: 400;
    font-size: 25px;
    margin: 20px;
    color: white;
}

.form-content {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px red solid;
    margin: 20px;
    color: white;
    height: 35vh;
    display: flex;
    flex-flow: row wrap;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
    border: 2px red solid;
}

.submit {
    color: white;
    margin: 20px;
}


button {
    margin-bottom: 20px;
}